@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  /* Hero title */
  .hero-section {
    max-width: 100%;
    padding: 112px 0;
  }

  .hero-section-title {
    max-width: 496px;
    font-size: 56px;
    margin-bottom: 36px;
  }

  /* Advantages section */
  .section-advantages-list {
    gap: 24px;
  }

  .advantages-list-items {
    flex-basis: calc((100% - 24px) / 2);
  }

  .section-advantages-title {
    text-align: left;
  }

  /* Portfolio section */

  .portfolio-list {
    gap: 24px 72px;
  }

  .portfolio-items {
    flex-basis: calc((100% - 24px) / 2);
  }

  /* Team section */
  .team-list {
    gap: 64px 24px;
    justify-content: center;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  /* Hero title */

  .hero-section {
    padding: 188px 0;
  }
  .hero-section {
    max-width: 1440px;
  }

  .hero-section-title {
    margin-bottom: 48px;
  }

  /* Advantages section */
  .section-advantages-title {
    font-size: 20px;
    font-weight: 500;
  }
  .advantages-list-items {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }

  .advantages-icons {
    display: flex;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background: #f4f4fd;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }

  /* Portfolio section */
  .section-portfolio {
    padding: 120px 0 120px 0;
  }
  .portfolio-list {
    column-gap: 24px;
    row-gap: 48px;
  }

  .portfolio-items {
    flex-basis: calc((100% - 48px) / 3);
  }
  .section-advantages {
    padding: 120px 0;
  }
  /* Team section */
  .section-team {
    padding: 120px 0;
  }

  .team-list {
    gap: 24px;
  }
  .section-team-items {
    flex-basis: calc((100% - 72px) / 4);
  }
}
