@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  /* Header */
  .header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  }
  .header-inner {
    gap: 24px;
  }
  .logo {
    margin-right: 120px;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    gap: 40px;
    flex-grow: 1;
    justify-content: center;
  }

  .header-nav .logo-accent {
    color: #2e2f42;
    font-family: var(--font-logo);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  .nav-link {
    position: relative;
    color: #2e2f42;
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: inline-block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link.active::after {
    color: #404bbf;
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .nav-link.active {
    color: #404bbf;
  }

  .nav-link:hover,
  .nav-link:focus {
    color: #404bbf;
    text-decoration: none;
  }

  .header-address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px 0;
    /* align-items: center; */
  }

  .header-address {
    font-style: normal;
  }
  .header-address-link {
    display: inline-block;
    padding: 0;
    color: #434455;
    font-family: var(--font-primary);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-address-link:hover,
  .header-address-link:focus {
    color: #404bbf;
  }

  .header-menu-button {
    display: none;
  }
  /* Hero title */
  .hero-section {
    padding: 112px 0;
  }

  .hero-section-title {
    max-width: 496px;
    font-size: 56px;
    margin-bottom: 36px;
  }

  /* Advantages section */
  .section-advantages-list {
    gap: 24px;
  }

  .advantages-list-items {
    flex-basis: calc((100% - 24px) / 2);
  }

  .section-advantages-title {
    text-align: left;
  }
  /* Team section */
  .team-list {
    gap: 64px 24px;
    justify-content: center;
  }

  /* Portfolio section */

  .portfolio-list {
    gap: 24px 72px;
    justify-content: center;
  }

  .section-portfolio-img {
    width: 356px;
    height: 300px;
  }
  /* Footer */

  .footer-flex {
    margin: 0;
  }
  .subscribe-form {
    display: flex;
    gap: 24px;
  }
  .footer-social-text {
    text-align: left;
  }
}

/* Desktop */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
  /* Header */
  .logo {
    margin-right: 76px;
  }
  .header-address-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    padding: 0;
  }

  .header-address-link {
    padding: 24px 0;
  }

  /* Hero title */

  .hero-section {
    padding: 188px 0;
  }

  .hero-section-title {
    margin-bottom: 48px;
  }

  /* Advantages section */
  .advantages-list-items {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }

  .section-advantages-title {
    font-size: 20px;
    font-weight: 500;
  }

  .advantages-icons {
    display: flex;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background: #f4f4fd;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }
  /* Team section */
  .section-team {
    padding: 120px 0;
  }

  .team-list {
    gap: 24px;
  }
  .section-team-items {
    flex-basis: calc((100% - 72px) / 4);
  }

  /* Portfolio section */
  .section-portfolio {
    padding: 120px 0 120px 0;
  }
  .portfolio-list {
    column-gap: 24px;
    row-gap: 48px;
  }

  .portfolio-items {
    flex-basis: calc((100% - 48px) / 3);
  }

  .section-portfolio-img {
    width: 360px;
  }

  /* Footer */

  .footer {
    padding: 100px 0;
  }
  .footer-logo {
    margin-bottom: 16px;
  }

  .footer-text {
    max-width: 264px;
    flex-wrap: wrap;
  }

  .footer-social-list {
    display: flex;
    gap: 16px;
  }

  .footer-social-items {
    width: 40px;
    height: 40px;
  }
  .footer-social-link {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-icon {
    fill: var(--section-team-background);
  }

  .footer-social-link:hover,
  .footer-social-link:focus {
    background-color: #31d0aa;
  }

  .footer .container {
    display: flex;
    justify-content: start;
    align-items: baseline;
  }

  .footer-flex {
    margin-right: 120px;
  }

  .footer-social {
    margin-right: 80px;
  }

  /* Footer-subscribe  */

  .subscribe-form {
    display: flex;
    gap: 24px;
  }

  .footer-subscribe-input {
    background-color: transparent;
    color: #fff;
    height: 40px;
    width: 264px;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    border-radius: 4px;
    border: 1px solid #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  }

  .footer-subscribe-input::placeholder {
    color: #fff;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
  }

  .footer-subscribe-button {
    /* Button Text */
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    /* Button */
    background-color: #4d5ae5;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    min-width: 165px;
    height: 40px;
    border-radius: 4px;
    padding: 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .subscribe-button-icon {
    fill: #fff;
    margin-left: 16px;
  }

  .footer-subscribe-button:hover,
  .footer-subscribe-button:focus {
    background-color: #404bbf;
  }
}
